<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PayPalAPIWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Commerce.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="PayPalAPIWrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PayPalAPIWrapper.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <Commerce.PayPal.Properties.Settings>
            <setting name="Commerce_PayPal_PayPalSvc_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </Commerce.PayPal.Properties.Settings>
        <PayPalAPIWrapper.Properties.Settings>
            <setting name="PayPalAPIWrapper_PayPalSvc_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </PayPalAPIWrapper.Properties.Settings>
    </applicationSettings>
</configuration>