<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
		<section name="StatsService" type="Commerce.Providers.StatsServiceSection, Commerce.StatsProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="TaxService" type="Commerce.Providers.TaxServiceSection, Commerce.TaxProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="FulfillmentService" type="Commerce.Providers.FulfillmentServiceSection, Commerce.FulfillmentProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="PaymentService" type="Commerce.Providers.PaymentServiceSection, Commerce.PaymentProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="ContentProviderService" type="Commerce.Providers.ContentServiceSection, Commerce.ContentProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="GeneralSettings" type="GeneralSettings" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="PayPalProSettings" type="PayPalProSettings" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="PayPalStandardSettings" type="PayPalStandardSettings" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
		<section name="yafnet" type="yaf.SectionHandler,App_Code"/>
	</configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="Commerce Starter Kit" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Formatted EventLog TraceListener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Application Errors">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow" name="Exception">
						<exceptionHandlers>
							<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<dataConfiguration defaultDatabase="CommerceTemplate"/>
	<!--################################ Connection Strings ################################################-->
	<!--DONOTREMOVE-->
	<connectionStrings>
		<clear/>
		<!--This is the connection to your STORE-->
		<add name="CommerceTemplate" connectionString="Server=localhost\SQLEXPRESS;Initial Catalog=ELearning;user id=sa; Password=" providerName="System.Data.SqlClient"/>
		<!--This is the connection to your Membership System-->
		<add name="LocalSqlServer" connectionString="Server=localhost\SQLEXPRESS;Initial Catalog=ELearning;user id=sa; Password=" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--/DONOTREMOVE-->
	<!--####################################################################################################-->
	<securityCryptographyConfiguration>
		<hashProviders>
			<add algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="SHA1Managed"/>
		</hashProviders>
		<symmetricCryptoProviders>
			<add scope="CurrentUser" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.DpapiSymmetricCryptoProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" name="DPAPI Symmetric Cryptography Provider"/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<appSettings>
		<add key="DepositBank" value="Banco de Guayaquil"/>
		<add key="DepositAccount" value="9998887"/>
		<add key="CurrencySymbol" value="$"/>
		<add key="TaxRate" value="0.12"/>
		<add key="yaf.RegisterForum.Register" value="http://www.yetanotherforum.net/Register.asmx"/>
		<add key="DefaultBoardId" value="1"/>
		<add key="DefaultTimeZone" value="-300"/>
		<add key="CustomerGroupId" value="4"/>
	</appSettings>
	<ContentProviderService defaultProvider="SqlContentProvider">
		<providers>
			<add name="SqlContentProvider" type="Commerce.Providers.SqlContentProvider, Commerce.ContentProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</ContentProviderService>
	<StatsService defaultProvider="SqlStatsProvider">
		<providers>
			<add name="SqlStatsProvider" type="Commerce.Providers.SqlStatsProvider, Commerce.StatsProvider" connectionStringName="CommerceTemplate"/>
		</providers>
	</StatsService>
	<!--
  test key (Thanks Dave!)
  you can get a free key for testing by registering at
  strike iron. You can put you user/pass here, or a registration key
  -->
	<TaxService defaultProvider="CountryTaxRateProvider">
		<providers>
			<clear/>
			<add name="CountryTaxRateProvider" type="Commerce.Providers.CountryTaxRateProvider, Commerce.TaxProvider"/>
		</providers>
	</TaxService>
	<GeneralSettings currencyCode="USD" loginRequirement="carrito"/>
	<PayPalProSettings isActive="true" useSandbox="true" APIUserName="business_api1.csk.com" APIPassword="commerce" certificateName="csk.pfx" certificatePassword="commerce"/>
	<PayPalStandardSettings isActive="true" useSandbox="true" businessEmail="csk@wekeroad.com" PDTID="4wscjERBD3ik_E7hmrqVaXHilJTCegrJ5FJogluERPo8H9ixPskOmFXuQK8"/>
	<FulfillmentService defaultProvider="SimpleShippingProvider" useShipping="true" dimensionUnit="inches" shipFromZip="423423" shipFromCountryCode="US" shipPackagingBuffer="1">
		<providers>
			<clear/>
			<add connectionStringName="CommerceTemplate" name="SimpleShippingProvider" type="Commerce.Providers.SimpleShippingProvider, Commerce.FulfillmentProvider"/>
		</providers>
	</FulfillmentService>
	<PaymentService acceptCreditCards="true" defaultProvider="PayPalPaymentProvider">
		<providers>
			<clear/>
			<add serviceUserName="business_api1.csk.com" servicePassword="commerce" sslCertFile="csk.pfx" sslCertPassword="commerce" merchantID="csk@wekeroad.com" currencyCode="USD" name="PayPalPaymentProvider" type="Commerce.Providers.PayPalPaymentProvider, Commerce.PaymentProvider"/>
		</providers>
	</PaymentService>
	<!--
  <PaymentService defaultProvider="AuthorizeNetPaymentProvider">
    <providers>
      <clear />
      <add name="AuthorizeNetPaymentProvider" type="Commerce.Providers.AuthorizeNetPaymentProvider, Commerce.PaymentProvider" 
      serviceUserName="cnpdev1799" 
      servicePassword="authnet101" 
      transactionKey="COAd7pinhMc5Jgs9" 
      currencyCode="USD" 
      serverURL="https://test.authorize.net/gateway/transact.dll"
      />
    </providers>
  </PaymentService>
 -->
	<yafnet>
		<uploaddir>~/Forums/upload/</uploaddir>
		<!--logtomail>email=;server=;user=;pass=;</logtomail-->
		<boardid>1</boardid>
		<!--categoryid>1</categoryid-->
		<root>~/Forums</root>
	</yafnet>
	<system.web>
		<!--
		<trust level="CSK_Medium_Trust" originUrl=".*"  />
		-->
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
			<!--
          The MultiRequestHandler enables multiple requests to be handled in one
          roundtrip to the server. Its use requires Full Trust.
      -->
			<add verb="*" path="atlasbatchcall.axd" type="Microsoft.Web.Services.MultiRequestHandler" validate="false"/>
			<add verb="*" path="atlasglob.axd" type="Microsoft.Web.Globalization.GlobalizationHandler" validate="false"/>
			<!--
          The IFrameHandler enables a limited form of cross-domain calls to 'Atlas' web services.
          This should only be enabled if you need this functionality and you're willing to expose
          the data publicly on the Internet.
          To use it, you will also need to add the attribute [WebOperation(true, ResponseFormatMode.Json, true)]
          on the methods that you want to be called cross-domain.
          This attribute is by default on any DataService's GetData method.
          
      <add verb="*" path="iframecall.axd" type="Microsoft.Web.Services.IFrameHandler" validate="false"/>
      -->
			<add verb="*" path="*.asbx" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
			<add name="ScriptModule" type="Microsoft.Web.Services.ScriptModule"/>
			<add name="BridgeModule" type="Microsoft.Web.Services.BridgeModule"/>
			<add name="WebResourceCompression" type="Microsoft.Web.Services.WebResourceCompressionModule"/>
		</httpModules>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto:en-US" uiCulture="auto:en"/>
		<roleManager enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="ELearning" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
			<providers>
				<clear/>
				<add connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="ELearning" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<anonymousIdentification enabled="true"/>
		<authentication mode="Forms">
			<forms name=".ASPNET"/>
		</authentication>
		<authorization>
			<allow users="?"/>
		</authorization>
		<profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="ELearning"/>
			</providers>
			<properties>
				<add name="FavoriteCategories" type="TrackedItemCollection" allowAnonymous="true"/>
				<add name="RecentlyViewedProducts" type="TrackedItemCollection" allowAnonymous="true"/>
				<add name="LastShippingAddress" type="Commerce.Common.Address" allowAnonymous="true"/>
				<add name="LastBillingAddress" type="Commerce.Common.Address" allowAnonymous="true"/>
				<add name="FullName" type="System.String" allowAnonymous="true"/>
				<add name="CurrentOrderTax" type="System.Decimal" allowAnonymous="true"/>
				<add name="CurrentOrderShipping" type="System.Decimal" allowAnonymous="true"/>
				<add name="CurrentOrderShippingMethod" type="System.String" allowAnonymous="true"/>
			</properties>
		</profile>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics2.WebUI.Shared.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDataInput.v6.3, Version=6.3.20063.53, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/></assemblies>
			<buildProviders>
				<add extension=".asbx" type="Microsoft.Web.Services.BridgeBuildProvider"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
		<customErrors mode="RemoteOnly" defaultRedirect="error.aspx">
		</customErrors>
		<pages styleSheetTheme="Default">
			<controls>
				<add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
				<add namespace="Microsoft.Web.UI.Controls" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
			</controls>
		</pages>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="admin@elearning.org">
				<network host="localhost" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
